@media (max-width: 480px) {
  #settingscontentdiv {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align:;
    width: 65%;
    margin-top: 4%;
    margin-bottom: 10%;
    margin-right:;
    margin-left: 15%;
  }

/**************************************/
/** RESPONSIBLE CSS FOR DETAILS PAGE **/

  #myResult {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align: center;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15%;
    padding: 0em;
  }


/* for date box*/
  .date .ui-input-text {
    display: block;
    width: 95% !important;
    border: 0 solid;
    padding: 1px;
  }

  .ui-input-text.ui-body-c.ui-corner-all.ui-icon-datebox {
    width: 90%;
  }

  .ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    margin: 0.1em 0;
    padding: 0;
  }

  label.ui-select {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    padding: 0em;
    margin: 0.6em 0.6em 0.6em 0.5em;
  }

  .fieldcontain1.ui-field-contain.ui-body.ui-br {
    border: ;
    padding: 0.2em;
    text-align: left;
    width: 99%;
  }

  #details .ui-field-contain label.ui-input-text {
    display: inline-block;
    margin: 0 1% 0 0;
    vertical-align: middle;
    width: 35%;
  }

  #details .ui-field-contain label.ui-select {
    display: inline-block;
    margin: 0 1% 0 0;
    vertical-align: middle;
    width: 35%;
  }
/******************************/
/**  END DETAILS RESPONSIBLE **/
/******************************/

  input {
    width: 30%;
    padding: 5px;
  }

  div.input {
    background: none repeat scroll 0 0 gray;
  }

  div.texta {
    background: none repeat scroll 0 0 purple;
  }

  i {
    color: gray;
    font-size: 0.75em;
  }

  .myspan {
    color: green;
    font-size: 0.75em;
  }

  .titleSpan {
    font-size: 0.8em;
  };
}

@media (min-width: 481px) and (max-width: 720px) {

  #settingscontentdiv {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align:;
    width: 55%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right:;
    margin-left: 20%;
  }
  /**************************************/
/** RESPONSIBLE CSS FOR DETAILS PAGE **/
  #myResult {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align: center;
    width: 45%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right:;
    margin-left: 25%;
  }

/* for date box*/
  .date .ui-input-text {
    display: block;
    width: 95% !important;
    border: 0 solid;
    padding: 1px;
  }

  .ui-input-text.ui-body-c.ui-corner-all.ui-icon-datebox {
    width: 90%;
  }

  .ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    border: 0px solid;
    margin: 0.1em 0;
    padding: 0;
  }

  label.ui-select {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    padding: 0em;
    margin: 0.6em 0.6em 0.6em 0.5em;
  }

  .fieldcontain1.ui-field-contain.ui-body.ui-br {
    border: 1px solid gray;
    padding: 0.8em;
    text-align: left;
    width: 95%;
  }

  #details .ui-field-contain label.ui-input-text {
    display: inline-block;
    margin: 0 1% 0 0;
    vertical-align: middle;
    width: 30%;
  }

  #details .ui-field-contain label.ui-select {
    display: inline-block;
    margin: 0 1% 0 0;
    vertical-align: middle;
    width: 20%;
  }
/******************************/
/**  END DETAILS RESPONSIBLE **/
/******************************/

  input {
    width: 30%;
    padding: 5px;
  }

  div.input {
    background: none repeat scroll 0 0 gray;
  }

  div.texta {
    background: none repeat scroll 0 0 purple;
  }

  i {
    color: brown;
    font-size: 0.8em;
  }

  .myspan {
    color: green;
    font-size: 0.8em;
  }

  .titleSpan {
    font-size: 0.85em;
  };
}

@media (min-width: 721px) {

  #settingscontentdiv {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align:;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right:;
    margin-left: 30%;
  }

/**************************************/
/** RESPONSIBLE CSS FOR DETAILS PAGE **/
  #myResult {
    background: none repeat scroll 0 0;
    border: 2px solid gray;
    text-align: center;
    width: 35%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right:;
    margin-left: 30%;
  }
/* for date box*/
  .date .ui-input-text {
    display: block;
    width: 100% !important;
    border: 0 solid;
    padding: 1px;
  }

/*cdisplay controlgroup button center in detail page*/
  .cg {
    text-align: center;
  }

  .cg .ui-controlgroup-controls {
    display: inline-block;
    width: auto;
  }

  .ui-input-text.ui-body-c.ui-corner-all.ui-icon-datebox {
    width: 90%;
  }

  .ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    border: 2px solid;
    margin: 0.1em 0;
    padding: 0;
  }

  label.ui-select {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    padding: 0em;
    margin: 0.6em 0.6em 0.6em 0.5em;
  }

  .fieldcontain1.ui-field-contain.ui-body.ui-br {
    border: 1px solid gray;
    padding: 0.1em;
    text-align: left;
    width: 100%;
  }

/******************************/
/**  END DETAILS RESPONSIBLE **/
/******************************/

  div.input {
    background: none repeat scroll 0 0 gray;
  }

  div.texta {
    background: none repeat scroll 0 0 purple;
  }

  i {
    color: brown;
    font-size: 0.85em;
  }

  .myspan {
    color: green;
/*brown*/
    font-size: 0.85em;
  }

  .titleSpan {
    font-size: 1em;
  };
}
/** end media query**/
/********************/




/************************/
/** CSS FOR EVERY PAGE**/

.ui-btn-active {
  background: transparent;
}

.li-active {
  background: silver;
}


/*** END ***/
/***********/



/**************************/
/** begin  settings.html **/
#projectsset {
  background: ;
  border: 0.05em solid gray;
}

#statesset {
  background: ;
  border: 0.05em solid gray;
}

.controlsclass {
  text-align: right;
  padding: 0.8em;
  margin: 0.2em;
}
/** end settings.html **/
/***********************/




/**************************/
/** CSS FOR DETAILS PAGE **/

/* for date box*/
.date .ui-input-text {
  display: block;
  width: 95% !important;
  border: 0 solid;
  padding: 1px;
}

.ui-input-text.ui-body-c.ui-corner-all.ui-icon-datebox {
  width: 90%;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
  border: 0px solid;
  margin: 0.1em 0;
  padding: 0;
}

label.ui-select {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  padding: 0em;
  margin: 0.6em 0.6em 0.6em 0.5em;
}

.fieldcontain1.ui-field-contain.ui-body.ui-br {
  border: 0px solid gray;
  padding: 0.1em;
  text-align: left;
  width: 95%;
}


/**  END DETAILS **/
/***********/



#mypopup .ui-controlgroup, fieldset.ui-controlgroup {
  margin: 0.5em;
  padding: 0.5em;
}

.popupstatelabel label.ui-select {
  border: 1px solid;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0.5em 0.5em 0.9em 0.3em;
  padding: 0.2em;
}

.ui-field-contain .ui-select {
  display: inline-block;
  width: 40%;
}

#sortpopup {
  padding: 0.3em;
}

.required {
  border: 1px solid red !important;
  background:;
}

#newfoo label.error {
  color: red;
}

#newfoo input.error {
  border: 1px solid red;
}

#editfoo label.error {
  color: red;
}

#editfoo input.error {
  border: 1px solid red;
}

.ui-disabled {
  border: 1px solid;
  z-index: 1;
}

.ui-input-text.ui-body-c.ui-corner-all.ui-icon-datebox {
  width: 7.5em;
}
